img{
max-width: 590px;
min-height: 450px;
margin: 40px ;
}
h2{
    position: absolute;
    right: 1200px;
    top: 4px;
}
#box1{
    border: 1px solid;
    margin: 20px;
    padding: 30px;
    color: rgb(156, 156, 228);
    height: 380px;
    width: 190px;
    background-color: rgb(156, 156, 228); ;

    position: absolute;
    right: 400px;
    top: 30px;
}
h1{
    color: black;
    font-size: 20px;
    position: absolute;
    right: 580px;
    top: 10px;
}
#box1 img{
    max-width: 150px;
    min-height: auto;
     top: 30px;
     right: 20px;
}
div p{
    color: white;
    text-align: center;
}
div button{
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
    display: center;
}
#box2{
    border: 1px solid;
    margin: 100px;
    padding: 40px;
    color: rgb(156, 156, 228);
    height: 360px;
    width: 180px;

    position: absolute;
    right: 10px;
    margin-top: 0px;
    top: 50px;
}
#box2 p{
    font-size: 27px;
    text-align: center;
    color: blue;
    background-color: white;
    position:absolute;
    top: 0px;
    left: 30%;
}
#time{
    color: blue;
}
#number{
    font-size: 100px;
    color: blue;
    font-weight: 300;
    position: absolute;
    right: 50px;
}
#box2 img{
    max-width: 90px;
    min-height: 70px;
    position: absolute;
    bottom: 200px;
     left: 130px;
}
#box{
    color: #1f149b;
    border: 1px solid;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    position: relative;
   top: 140px;   
    
}







h3{
    color: black;
    font-size: 20px;
    position: absolute;
    right: 290px;
    top: 10px;
}
#box3{
    border: 1px solid;
    margin: 100px;
    padding: 40px;
    color: rgb(156, 156, 228);
    height: 400px;
    width: 180px;
    background-color: rgb(156, 156, 228); 

    position: absolute;
    left: 599px;
    margin-top: 0px;
    top: 600px;
}
#box3 img{
    max-width: 180px;
    min-height: auto;
    position: absolute;
    bottom: 250px;
     right: 3px;
}
#box3 p{
    font-size: 20px;
    position: absolute;
    bottom: 250px;
    left: 60px;
}
.form{
    position: absolute;
    bottom: 30px;
    left: 40px; 
    border-radius: 10px;
}
#box3 button{
    border: 9px;
    font-size: 30px;
    display: center;
    background-color: blue;
}
#bottom{
    color: black;
    font-size: 10px;
    font-weight: 100px;
      position:absolute;
    top: auto;
    margin-bottom: auto;
}
#left{
    color: black;
    font-size: 10px;
    position: relative;
    top: 60px;
    right: 4px;
}
h4{
    position: absolute;
    right: 550px;
    bottom: 10px;
}
